snippet comp "Snippet for competitive programming cpp setup"
#include <bits/stdc++.h>

using namespace std;

#define ll long long
#define ld long double
#define ar array

#define vt vector
#define pb push_back
#define all(c) (c).begin(), (c).end()
#define sz(x) (int)(x).size()

int main() {
	ios::sync_with_stdio(0);
	cin.tie(NULL);

	$0
	return 0;
}
endsnippet
